.container {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app.dark .navbar {
    background-color: black; /* Zmieniono na czarny */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.app.dark .nav-link {
    color: white; /* Zmieniono na biały */
}

.nav-link:hover {
    background-color: #f0c14b;
    color: #333;
}

.logo {
    margin-right: 25px;
    height: 40px;
    width: 40px;
}

.app.light {
    background-color: white;
    color: black;
}

.app.dark {
    background-color: black; /* Zmieniono na czarny */
    color: white; /* Zmieniono na biały */
}

.card {
    background-color: #fff;
}

.app.dark .card {
    background-color: black; /* Zmieniono na czarny */
    color: white; /* Zmieniono na biały */
}

.button {
    background-color: #e0e0e0;
    color: #000;
}

.app.dark .button {
    background-color: black; /* Zmieniono na czarny */
    color: white; /* Zmieniono na biały */
}

.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8); /* Czerwone tło */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
